@import "fonts.css";

:root {
    --color-primary: #1c1600;
    --color-secondary: #ffca08;
    --color-tertiary: #f0cd59;
    /*--color-four: #835e4c;
    --text-color: #130d0d; */
    --text-font-first:"Roboto", serif;

}