@import "./variables.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
/* h1{
    color: var(--color-primary);
} */

/* Header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    position: relative;
}
header{
    height: 650px;
    background-image: linear-gradient(to right, #fff 0%, #fff 60%, var(--color-primary) 60%, var(--color-primary) 100%);
    padding: 0 10%
}
nav .logo-wrap{
    width: 80px;
    height: 80px;
}

nav .logo-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* navigation */
nav ul{
    display: flex;
    list-style-type: none;
    gap: 64px;
    padding: 16px 0;
}
nav ul a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}
nav ul a:hover{
    color: var(--color-tertiary);
}
.search-wrap{
    display: flex;
    gap: 32px;
    align-items: center;
    /* justify-content: space-between; */
}
.search{
    display: flex;
    /* position: relative; */
    /* border: 3px solid; */
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    height: 40px;
    gap: 8px;
    background: #ffffff;
}

.search .icon-wrap{
    /* position: absolute; */
    display: flex;
    align-items: center;
}
.search input{
    outline: none;
    border: none;
}

/* content */

header .content{
    width: 40%;
    font-size: 20px;
    color: var(--text-color);
    margin-top: 96px;
}
header .content .title{
    font-size: 48px;
    color:  var(--text-color);
    font-weight:700;
    margin-bottom: 24px;

}
header .content .title span{
    color: var(--color-secondary);
}

.button{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--text-color);
    color: #fff;
    width: max-content;
    padding: 8px 16px;
    border-radius: 32px;
    margin-top: 16px;
}

/* coffee image */
.coffee{
    width: 30%;
    height: max-content;
    position: absolute;
    top: 12%;
    left: 45%;
}
.coffee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coffee-item{
    position: absolute;
    right: 0;
    top: 0;
}

/* categori */
.categori{
    background: #f6ebda;
    display: flex;
    padding: 20px 186px;
    gap: 64px;
    width: 70%;
    border-radius: 48px;
    position: absolute;
    /* top: 110%; */
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    /* font-size: 22px; */
}
.categori .cate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.categori .cate:nth-child(2){
    color: var(--color-tertiary);
}
.categori .cate-img {
    width: 80px;
    height: 80px;
}
.categori .cate-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content1{
    margin-top: 130px;
}
/* .main-content1 */
 .main-title{
    width: max-content;
    margin-left: 258px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 28px;
    position: relative;
}
.main-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 95px;
    border: 2px solid var(--color-primary);
    bottom: 0;
    right: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.main-content1 .sub-content{
    display: flex;
    gap: 16px;
    /* align-items: center; */
    justify-content: center;
}
.main-content1 .sub-content .sub-content1{
    background-color: var(--color-four);
    width: 250px;
    padding: 12px 12px 16px 16px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 12px 1px rgb(61, 61, 60);
}
/* .main-content1 .sub-content  */
.content-img{
    width: 100%;
    height: 170px;
}
/* .main-content1 .sub-content */
 .content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* .main-content1 .sub-content .sub-content1 */
h3{
    line-height: 50px;
    color: white;
}
.main-content1 .sub-content .sub-content1 p{
    text-align: justify;
    color: white;
    margin-bottom: 30px;
}
 .item-footer{
    display: flex;
    justify-content: space-between;
}
 .item-footer .price{
    color: white;
    font-weight: 700;
}
/* .main-content1 .sub-content .sub-content1 .item-footer button */
.item-footer button{
    background-color: #ab5d49;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-content1 .sub-content .sub-content1:hover{
    background-color: var(--color-primary);
    width: 280px;
}
.main-content1 .sub-content .sub-content1:hover img{
    width: 250px;
    height: 190px;
}
.main-content1 .sub-content .sub-content1:hover h3{
    color: var(--color-four);
    margin-top: 15px;
}
.main-content1 .sub-content .sub-content1:hover p{
    color: var(--color-four);
    margin-top: 10px;
}
/* banner */
#banner-center{
    background-color: #f6ebda;
    width: 100%;
    height: 150px;
    margin-top: 70px;
    display: flex;
    padding-top: 28px;
    padding-left: 235px;
}
#banner-center .text-banner{
    font-weight: 700;
    padding-left: 50px;
    line-height: 50px;
}
#banner-center .text-banner :nth-child(1){
    font-size: 30px;
}
#banner-center .text-banner :nth-child(2) {
    font-size: 20px;
}

#main-content2{
    margin-top: 70px;
}
#main-content2 .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    gap: 12px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.content-grid{
    background-color: var(--color-four);
    /* width: 250px; */
    width: max-content;
    padding: 12px 5px 16px 16px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 12px 1px rgb(61, 61, 60);
}

.content-grid button{
    margin-right: 10px;
}



#banner-footer{
    background-color: #f6ebda;
    width: 100%;
    height:max-content;
    margin-top: 70px;
    display: flex;
    padding-top: 28px;
    /* padding-left: 235px; */
    padding-right: 226px;
}
#banner-footer .img-banner{ 
    width: 900px;
    height: 300px;
    margin-bottom: 24px;
    padding-left: 17%;
}
#banner-footer .img-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(26, 25, 25, 0.1);
}
#banner-footer .text-banner-footer{
    padding-left: 100px;
    /* position: relative; */
}

#banner-footer .text-banner-footer :nth-child(1){
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    position: relative;
    width: max-content;
}
.text-banner-footer p:nth-child(1)::after{
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    border: 2px solid var(--color-primary);
    top: 55px;
    right: 0;
    /* bottom: 0; */
    /* left: 0; */
    /* transform: translateX(0); */
}
#banner-footer .text-banner-footer :nth-child(2){
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}
#banner-footer .text-banner-footer :nth-child(3) {
    text-align: justify;
    line-height: 30px;
    color: var(--color-secondary);
}
#banner-footer .text-banner-footer button{
    background-color: #342403;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}

/* footer */
#footer .footer-first .first-left .footer-image{
    width: 100%;
    height: 100px;
}
#footer .footer-first .first-left .footer-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#footer .footer-first .first-left .main-title-footer{
    font-weight: 700;
    font-size: 28px;
}
#footer .footer-first .first-left{
    display: flex;
    align-items: center;
}
#footer .footer-first .first-right img{
    margin-left: 20px;
}
#footer .footer-first{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin-left: -100px;
    align-items: center;
}

.border-line{
    width: 70%;
    height: 1px;
    background-color: #6a6565;
    margin: 40px auto 40px auto;
    opacity: 0.2;
}

#footer .footer-second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#footer .footer-second .second-left ul{
    list-style-type: none;
    line-height: 40px;
}
#footer .footer-second .second-left ul a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
    letter-spacing: 1px;
}
#footer .footer-second .second-right p{
    color: #342403;
    font-weight: 700;
    margin-bottom: 15px;
}
#footer .footer-second .second-right input{
    height: 50px;
    background-color: #f6ebda;
    border: none;
    padding-left: 20px;
}
#footer .footer-second .second-right input::placeholder{
    color: var(--color-secondary);
}
#footer .footer-second .second-right button {
    height: 50px;
    width: 80px;
    margin-left: -10px;
    background-color:#ab5d49;
    color: white;
    border: none;
}



